<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title>John Broxton</title>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css"
			  href="../static/css/css_styles.css">
	
	</head>
	
	<body>


		<nav>
			<ul>
				<li>WELCOME</li>
<!-- 				<li><a href="work.html">HOW I WORK</a></li>
				<li><a href="">CONTACT</a></li>
				<li><a href="">PROJECTS</a></li> -->
			</ul>
		</nav>



		<section class = "white-bkgd, intro">
			<div class = "white-bkgd-grid">

				<div id="intro" class="white-bkgd-image">
					<img src="../static/img/jbroxton_v2_14.jpg" />
					<img src="../static/img/jbroxton_v2_69.jpg" />
					<img src="../static/img/jbroxton_v2_12.jpg" />
					<img src="../static/img/jbroxton_v2_70.jpg" />
					<br>
				
					<p></p>
				</div>

			</div>
		</section>

		<section class = "black-bkgd">
			<div class = "black-bkgd-grid">

				<div class="black-bkgd-image">
					<img src="../static/img/jbroxton_v2_135.jpg"/>
					<img src="../static/img/jbroxton_v2_99.jpg"/>
					<img src="../static/img/jbroxton_v2_35.jpg"/>
					
					<br>
					<img src="../static/img/jbroxton_v2_98.jpg"/>
					<img src="../static/img/jbroxton_v2_101.jpg"/>
					<img src="../static/img/jbroxton_v2_103.jpg"/>
					
					<br>


				
					<p>This is me</p>
				</div>
				<img class="word-offset-2" src="../static/img/words2.jpg"/>

			</div>
		</section>

		<section class = "white-bkgd">
			<div class = "white-bkgd-grid">

				<div class="white-bkgd-image">
					<img src="../static/img/jbroxton_v2_08.jpg"/>
					<img src="../static/img/jbroxton_v2_235.jpg"/>
					<img src="../static/img/jbroxton_v2_134.jpg"/>
					<br>
					<img src="../static/img/jbroxton_v2_75.jpg"/>
					<img src="../static/img/jbroxton_v2_105.jpg"/>
					<img src="../static/img/jbroxton_v2_81.jpg"/>
					<img src="../static/img/jbroxton_v2_59.jpg"/>
					<br>
				
					<p>I live in the Pacific Northwest </p>
				</div>

			</div>
		</section>

		<section class = "black-bkgd">
			<div class = "black-bkgd-grid">

				<div class="black-bkgd-image">
					<img src="../static/img/jbroxton_v2_129.jpg"/>
					<img src="../static/img/jbroxton_v2_123.jpg"/>
					<img src="../static/img/jbroxton_v2_121.jpg"/>
					<br>
					<img src="../static/img/jbroxton_v2_133.jpg"/>
					<img src="../static/img/jbroxton_v2_134.jpg"/>
					<img src="../static/img/jbroxton_v2_127.jpg"/>
					<br>
				
					<p>This is my house</p>
				</div>
			

			</div>
		</section>

		<section class = "white-bkgd-large">
			<div class = "white-bkgd-grid">

				<div class="white-bkgd-image-large">
					<img src="../static/img/jbroxton_v2_139.jpg"/>
					<br>
					<p>Recently I left a promising career in university administration</p>
				</div>
				<img class="word-offset-1" src="../static/img/words10.jpg"/>
			</div>
		</section>

		<section class = "black-bkgd-large">
			<div class = "black-bkgd-grid">

				<div class="black-bkgd-image-large">
					<br>
					<img src="../static/img/jbroxton_v2_140.jpg"/>

					<br>
				
					<p>To study web development at the PDX Code Guild</p>
					<p></p>
				</div>

			</div>
		</section>


		<section class = "white-bkgd">
			<div class = "white-bkgd-grid">

				<div class="white-bkgd-image">
					<img src="../static/img/jbroxton_v2_141.jpg"/>
					<br>
					<img src="../static/img/jbroxton_v2_142.jpg"/>
					<br>
					<p>That's my instructor, Tiffany. She owns a corgi and teaches</p> 
					<p>Python, Javascript, Django, version control, HTML and CSS. </p>
					<br>
				</div>
				<img class="word-offset-4" src="../static/img/words15.jpg"/>
			</div>
		</section>

		<section class = "black-bkgd-large">
			<div class = "black-bkgd-grid">

				<div class="black-bkgd-image-large">
					<img src="../static/img/jbroxton_v2_138.jpg"/>
					<br>
					<br>
				
					<p>Coding is all about finding balance and harmony.</p>
				</div>
			<img class="word-offset-2" src="../static/img/words5.jpg"/>
			</div>
		</section>

		<section class = "white-bkgd">
			<div class = "white-bkgd-grid">

				<div class="white-bkgd-image">
					<img src="../static/img/jbroxton_v2_241.jpg"/>
					<img src="../static/img/jbroxton_v2_173.jpg"/>
					<img src="../static/img/jbroxton_v2_236.jpg"/>
					<br>
					<img src="../static/img/jbroxton_v2_121.jpg"/>
					<img src="../static/img/jbroxton_v2_112.jpg"/>
					<img src="../static/img/jbroxton_v2_136.jpg"/>
					<br>

					<br>
					<p>When I'm not on the computer, I enjoy the outdoors, visual arts, and meeting fellow travelers.</p>
				</div>
				<img class="word-offset-3" src="../static/img/words1.jpg"/>

			</div>
		</section>

		<section class = "black-bkgd">
			<div class = "black-bkgd-grid">

				<div class="black-bkgd-image">
					<img src="../static/img/jbroxton_v2_110.jpg"/>
					<img src="../static/img/jbroxton_v2_106.jpg"/>
					<img src="../static/img/jbroxton_v2_107.jpg"/>
					<br>
					<img src="../static/img/jbroxton_v2_114.jpg"/>
					<img src="../static/img/jbroxton_v2_109.jpg"/>
					<img src="../static/img/jbroxton_v2_167.jpg"/>
					<br>
				
					<p>also, *breakfast*</p>
				</div>

			</div>
		</section>



		<section class = "white-bkgd">
			<div class = "white-bkgd-grid">

				<div class="white-bkgd-image">
					<img src="../static/img/jbroxton_v2_33.jpg"/>
					<br>
					<br>



					<br>
				
					<p>johnbroxton | gmail</p>
					<p>john_broxton | twitter</p>
				</div>

			</div>
		</section>



		

					
		<footer>

				
		</footer>

		<script type="text/javascript" src="../static/js/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="../static/js/script_index.js"></script>
		
	<body>
</html>

